<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Ionic App</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="lib/chart.js/dist/Chart.min.js"></script>
    <script src="lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <link rel="stylesheet" href="lib/preloader.css3/dist/preloader.css">
    <script src="lib/preloader.css3/dist/preloader.js"></script>


    <link rel="stylesheet" type="text/css" href="//rawgithub.com/darthwade/angular-loading/master/angular-loading.css"/>
  </head>
  <body ng-app="starter">
  <script>preloaderCSS3("Loading application... Please wait");</script>
    <ion-pane id="bodyElement">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Chart Application</h1>
      </ion-header-bar>
      <ion-content ng-controller="LineCtrl">
        <label>CAD
          <input type="checkbox" id="cb1" ng-model="cbMod.val1">
        </label>
        <label>GBP
          <input type="checkbox" id="cb2" ng-model="cbMod.val2">
        </label>
        <label>USD
          <input type="checkbox" id="cb3" ng-model="cbMod.val3">
        </label>
        <label>EUR
          <input type="checkbox" id="cb4" ng-model="cbMod.val4">
        </label>

        <canvas id="line" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas>

        <span>
        <button class="button" id="myBtn2" ng-click="getTodayRate()">Today</button>
        </span><span>
        <button class="button" id="myBtn" ng-click="getWeekRate()">Last week</button>
        </span><span>
        <button class="button" id="myBtn1" ng-click="getMonthRate()">Last month</button>
        </span>
            <!--<img id="mySpinner" src="img/spinner.gif" class="spinnerImg" ng-show="loading"/>-->
            <ion-spinner id="mySpinner" class="spinnerImg" ng-show="loading"></ion-spinner>
            <h1 ng-show="loading">Loading, please wait...</h1>
      </ion-content>
    </ion-pane>
  </body>
</html>
